$themes: (
  light: (
    deep-grey: rgb(21, 23, 40),
    light-grey: rgba(255, 255, 255, 0.08),
    border-grey: #6e6e6e,
    text-grey: #707070,
    main-backgropund-color: rgb(36, 39, 59),
    text-white-90: rgba(255, 255, 255, 0.85),
    main-background-back: #010409,
    block-background: #161B22,
    border-shadow: #514a62,
    border-color: #303030,
  ),

  dark: (
    deep-grey: rgb(21, 23, 40),
    light-grey: rgba(255, 255, 255, 0.08),
    border-grey: #6e6e6e,
    text-grey: rgb(92, 94, 110),
    main-backgropund-color: rgb(36, 39, 59),
    text-white-90: rgba(255, 255, 255, 0.9),
    main-background-back: #010409,
    block-background: #161B22,
    border-shadow: #423D4F,
    border-color: #303030
  )
)