@mixin hover-on($color: white, $hover: themed('light-grey')) {
  border-radius: 3px;
  padding: 3px;
  &:hover {
    cursor: pointer;
    background-color: $hover;
    color: $color;
  }
}

@mixin scrollbar-like($width:5px, $height: 5px) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.25);
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.8);
    background-color: rgb(66, 66, 66);
  } 
}

@keyframes flow-up-down {
  from {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  to  {
    transform: translateY(-3px);
  }
}

@mixin hide-scrollbar{
  &::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
}

@mixin button-like($padding: 5px, $raduis: 6px) {
  
}